.route-container {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    padding: 0 2rem 2rem 2rem;
    color: var(--font-color);
}

.hero-container {
    background-color: var(--container-color);
    border-radius: 1rem 1rem 0 0;
    transform: translateY(10%);
}

.hero-container > h2 {
    padding: 1rem 2rem 0 2rem;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.5;
}

.hero-container > h1 {
    padding: 0 2rem;
    font-weight: bold;
    font-size: 1.75rem;
}

.titles {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 2rem 2rem;
    font-size: 0.7rem;
}

.titles > * {
    flex: 1;
    text-align: center;
}

.schedule {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    margin-top: 2px;

}

.line-container {
    flex: 1;
}

.line-wrapper {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
    width: fit-content;
    background-color: var(--primary-color);
}

.line-icon {
    padding-right: 0.5rem;
    width: 1rem;
    object-fit: cover;
}

.line { 
    border-radius: 1rem;
}

.direction {
    flex: 1;
    text-align: center;
}

.time {
    flex: 1;
    text-align: center;
}

.countdown {
    flex: 1;
    text-align: end;
}

.row {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 85%;
    font-size: 0.9vw;
    background-color: var(--container-color);
    transition: all 2000ms
}

/*  Row */
.row:nth-of-type(1) {
    border-radius: 1rem;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    z-index: 5;
}
.row:nth-of-type(2) {
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    z-index: 4;
}
.row:nth-of-type(3) {
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    z-index: 3;
}
.row:nth-of-type(4) {
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.row:nth-of-type(5) {
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.row:last-of-type{
    border-radius: 0 0 1rem 1rem;
    transition: all 2000ms, border-radius 0ms;
}

.row5 {
    width: 88%;
    flex-grow: 1.2;
    font-size: 1vw;
}

.row5 img {
    width: 1.1rem;
}

.row4 {
    width: 91%;
    flex-grow: 1.4;
    font-size: 1.1vw;
}

.row4 img {
    width: 1.2rem;
}

.row3 {
    width: 94%;
    flex-grow: 1.6;
    font-size: 1.2vw;
}

.row3 img {
    width: 1.3rem;
}

.row2 {
    width: 97%;
    flex-grow: 1.8;
    font-size: 1.3vw;
}

.row2 img {
    width: 1.4rem;
}

.row1 {
    border-radius: 1rem;
    flex-grow: 2;
    width: 100%;
    font-size: 1.4vw;
}

.row1 img {
    width: 1.5rem;
}

.wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
}

.disappear {
    transition: all 2000ms, border-radius 0ms;
    transform: scale(0) 2000ms ease;
    flex-grow: 0 !important;
    overflow: hidden;
    box-shadow: none !important;
    z-index: 0 !important;
    padding: 0 !important;
    width: 0 !important;
    height: 0 !important;
    opacity: 0;
 }