:root {
    /*

    Light Theme:

    --primary-color: #0D7AAC;
    --background-color: #EEEEEE;
    --box-color: #f5f5f5;
    --secondary-color: #f2f2f2;
    --font-color: #2e3151;
    --elevation: 1px 2px 20px 1px rgba(0, 0, 0, 0.16);
    */

    /*
    Dark Theme:

    */

    --primary-color: #26AEFE;
    --secondary-color: #AE57D5;
    /*
    --background-color: #03070B;
    --container-color: #152C39;
    --box-color: #081B24;
    */
    --background-color: #03070B;
    --container-color: #1D1E22;
    --box-color: #141414;

    --font-color: #FFFFFF;
    --elevation: none;

}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    font-family: sans-serif;
    
}

section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.grid {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 1rem;
}

.box {
    border-radius: 1rem;
    background-color: var(--box-color);
    box-shadow: var(--elevation);
}

.logo-container {
    position: fixed;
    background-image: url("../assets/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    top: 0;
    left: 0;
    height: 7vh;
    margin: 0.5rem;
    animation: spin 10s infinite linear;
}


@keyframes spin{
    0% {
        transform: rotateY(0);
    }

    10% {
        transform: rotateY(180deg);
    }

    20% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}



.button {
    position: absolute;
    top: 0;
    right: 0;
}
